*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/yi-sun-shin-lone-destructor-mobile-legends-skin-uhdpaper.jpg); color-scheme: #fffffffa;
    background-position: center;
    background-size: cover;
    position: relative;
    animation: infinite;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
    opacity: 100%;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #5f20f1;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: rgb(255, 254, 254);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 90px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: rgb(255, 254, 254);
}
.hero-btn{
    display: inline-block;
text-decoration: none;
color: rgb(252, 250, 250);
border: 1px solid rgb(209, 110, 52);
padding: 12px 14px;
opacity: 50;
font-size: 13px;
background: transparent;
position: relative;
cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #050201;
    background: #1469da;
    opacity: 70%;
    transition: 1s;
}

nav .fa-xmark{
    display: none;
}

@media(max-width: 500px){
    .text-box h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #ce6b29;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: left;
        z-index: 2;
        opacity: 90%;
        transition: 1s;
    }
    
    nav .fa{
        display: block;
        color: rgb(250, 250, 250);
        margin: 1px;
        font-size: 50px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}